.bottomNav {
  height: 80px;
  background: black;
  border-top: 1px solid #222;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tab {
  text-decoration: none;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.tabIcon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid limegreen;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.tabLabel {
  font-size: 12px;
}

.tab.active {
  color: limegreen;
}
